FlightReservationSystem/HRSPartnerClient/src/META-INF/wsdl/localhost_8080/FlightReservationSystemWebService/FlightReservationSystemWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="partnerLogout" type="tns:partnerLogout"/>

<xs:element name="partnerLogoutResponse" type="tns:partnerLogoutResponse"/>

<xs:element name="partnerSearchConnectingFlightLeg1" type="tns:partnerSearchConnectingFlightLeg1"/>

<xs:element name="partnerSearchConnectingFlightLeg1Response" type="tns:partnerSearchConnectingFlightLeg1Response"/>

<xs:element name="partnerSearchFlight" type="tns:partnerSearchFlight"/>

<xs:element name="partnerSearchFlightResponse" type="tns:partnerSearchFlightResponse"/>

<xs:element name="retrieveFaresForFlightSchedule" type="tns:retrieveFaresForFlightSchedule"/>

<xs:element name="retrieveFaresForFlightScheduleResponse" type="tns:retrieveFaresForFlightScheduleResponse"/>

<xs:element name="retrieveFlightRoute" type="tns:retrieveFlightRoute"/>

<xs:element name="retrieveFlightRouteResponse" type="tns:retrieveFlightRouteResponse"/>

<xs:element name="retrieveFlights" type="tns:retrieveFlights"/>

<xs:element name="retrieveFlightsResponse" type="tns:retrieveFlightsResponse"/>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchConnectingFlightLeg1">
<xs:sequence>
<xs:element name="departureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="departureDate" type="xs:string" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
<xs:element name="isFirst" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchConnectingFlightLeg1Response">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedule">
<xs:sequence>
<xs:element name="arrivalTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="departureTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fccList" type="tns:flightCabinClass" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flightBookingList" type="tns:flightBooking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flightDuration" type="tns:duration" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightCabinClass">
<xs:sequence>
<xs:element name="cabinClass" type="tns:cabinClass" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightSchedule" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="numAvailableSeats" type="xs:decimal" minOccurs="0"/>
<xs:element name="numBalanceSeats" type="xs:decimal" minOccurs="0"/>
<xs:element name="numReservedSeats" type="xs:decimal" minOccurs="0"/>
<xs:element name="seatList" type="tns:seat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cabinClass">
<xs:sequence>
<xs:element name="aircraftConfigurationList" type="tns:aircraftConfiguration" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="cabinClassName" type="tns:cabinClassType" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="numAisles" type="xs:decimal" minOccurs="0"/>
<xs:element name="numRows" type="xs:decimal" minOccurs="0"/>
<xs:element name="numSeatsAbreast" type="xs:decimal" minOccurs="0"/>
<xs:element name="seatingConfiguration" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraftConfiguration">
<xs:sequence>
<xs:element name="aircraftType" type="tns:aircraftType" minOccurs="0"/>
<xs:element name="cabinClassList" type="tns:cabinClass" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="configurationName" type="xs:string" minOccurs="0"/>
<xs:element name="flightList" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="numCabinClass" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraftType">
<xs:sequence>
<xs:element name="aircraftConfigurations" type="tns:aircraftConfiguration" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="aircraftTypeName" type="tns:aircraftTypeName" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="passengerSeatCapacity" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="aircraftConfiguration" type="tns:aircraftConfiguration" minOccurs="0"/>
<xs:element name="flightGroup" type="xs:long"/>
<xs:element name="flightNumber" type="xs:string" minOccurs="0"/>
<xs:element name="flightRoute" type="tns:flightRoute" minOccurs="0"/>
<xs:element name="flightSchedulePlanList" type="tns:flightSchedulePlan" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="tns:flightStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightRoute">
<xs:sequence>
<xs:element name="destination" type="tns:airport" minOccurs="0"/>
<xs:element name="flightGroup" type="xs:long"/>
<xs:element name="flightList" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flightRouteStatus" type="tns:flightRouteStatus" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="origin" type="tns:airport" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="airport">
<xs:sequence>
<xs:element name="airportName" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="iataAirportCode" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightSchedulePlan" abstract="true">
<xs:sequence>
<xs:element name="fares" type="tns:fare" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flight" type="tns:flight" minOccurs="0"/>
<xs:element name="flightScheduleList" type="tns:flightSchedule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="flightSchedulePlanGroup" type="xs:long"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="status" type="tns:flightSchedulePlanStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fare">
<xs:sequence>
<xs:element name="cabinClass" type="tns:cabinClass" minOccurs="0"/>
<xs:element name="fareAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="fareBasicCode" type="xs:string" minOccurs="0"/>
<xs:element name="flightSchedulePlan" type="tns:flightSchedulePlan" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seat">
<xs:sequence>
<xs:element name="flightCabinClass" type="tns:flightCabinClass" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="passenger" type="tns:passenger" minOccurs="0"/>
<xs:element name="seatNumber" type="xs:string" minOccurs="0"/>
<xs:element name="seatStatus" type="tns:seatStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="passenger">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="passportNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightBooking">
<xs:sequence>
<xs:element name="flightLegCost" type="xs:decimal" minOccurs="0"/>
<xs:element name="flightNumber" type="xs:string" minOccurs="0"/>
<xs:element name="flightReservation" type="tns:flightReservation" minOccurs="0"/>
<xs:element name="flightSchedule" type="tns:flightSchedule" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="reservedSeats" type="tns:seat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightReservation">
<xs:sequence>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="flightBookingList" type="tns:flightBooking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="passengerList" type="tns:passenger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="flightReservationList" type="tns:flightReservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roleType" type="tns:roleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="duration" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveFaresForFlightSchedule">
<xs:sequence>
<xs:element name="flightSchedulIed" type="xs:long"/>
<xs:element name="cabinClassName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFaresForFlightScheduleResponse">
<xs:sequence>
<xs:element name="return" type="tns:fare" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlights">
<xs:sequence>
<xs:element name="fspID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchFlight">
<xs:sequence>
<xs:element name="departureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="departureDate" type="xs:string" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerSearchFlightResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightSchedule" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogout">
<xs:sequence>
<xs:element name="partnerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogoutResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveFlightRoute">
<xs:sequence>
<xs:element name="fspID" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveFlightRouteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="aircraftTypeName">
<xs:restriction base="xs:string">
<xs:enumeration value="BOEING_747"/>
<xs:enumeration value="BOEING_737"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="flightRouteStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="flightSchedulePlanStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="flightStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="cabinClassType">
<xs:restriction base="xs:string">
<xs:enumeration value="F"/>
<xs:enumeration value="J"/>
<xs:enumeration value="W"/>
<xs:enumeration value="Y"/>
<xs:enumeration value="BUSINESS"/>
<xs:enumeration value="FIRST"/>
<xs:enumeration value="PREMIUM_ECONOMY"/>
<xs:enumeration value="ECONOMY"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="seatStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="RESERVED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roleType">
<xs:restriction base="xs:string">
<xs:enumeration value="CUSTOMER"/>
<xs:enumeration value="VISITOR"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>