FlightReservationSystem/HRSPartnerClient/xml-resources/web-service-references/FlightReservationSystemWebService/wsdl/localhost_8080/FlightReservationSystemWebService/FlightReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="FlightReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/FlightReservationSystemWebService/FlightReservationSystemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="makeFlightReservation">
<part name="parameters" element="tns:makeFlightReservation"/>
</message>
<message name="makeFlightReservationResponse">
<part name="parameters" element="tns:makeFlightReservationResponse"/>
</message>
<message name="getFlightCabinClass">
<part name="parameters" element="tns:getFlightCabinClass"/>
</message>
<message name="getFlightCabinClassResponse">
<part name="parameters" element="tns:getFlightCabinClassResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="partnerLogout">
<part name="parameters" element="tns:partnerLogout"/>
</message>
<message name="partnerLogoutResponse">
<part name="parameters" element="tns:partnerLogoutResponse"/>
</message>
<message name="retrieveCabinClass">
<part name="parameters" element="tns:retrieveCabinClass"/>
</message>
<message name="retrieveCabinClassResponse">
<part name="parameters" element="tns:retrieveCabinClassResponse"/>
</message>
<message name="retrieveSeats">
<part name="parameters" element="tns:retrieveSeats"/>
</message>
<message name="retrieveSeatsResponse">
<part name="parameters" element="tns:retrieveSeatsResponse"/>
</message>
<message name="makeFlightBooking">
<part name="parameters" element="tns:makeFlightBooking"/>
</message>
<message name="makeFlightBookingResponse">
<part name="parameters" element="tns:makeFlightBookingResponse"/>
</message>
<message name="persistPassengers">
<part name="parameters" element="tns:persistPassengers"/>
</message>
<message name="persistPassengersResponse">
<part name="parameters" element="tns:persistPassengersResponse"/>
</message>
<message name="viewFlightResevations">
<part name="parameters" element="tns:viewFlightResevations"/>
</message>
<message name="viewFlightResevationsResponse">
<part name="parameters" element="tns:viewFlightResevationsResponse"/>
</message>
<message name="retrieveFlights">
<part name="parameters" element="tns:retrieveFlights"/>
</message>
<message name="retrieveFlightsResponse">
<part name="parameters" element="tns:retrieveFlightsResponse"/>
</message>
<message name="partnerSearchFlight">
<part name="parameters" element="tns:partnerSearchFlight"/>
</message>
<message name="partnerSearchFlightResponse">
<part name="parameters" element="tns:partnerSearchFlightResponse"/>
</message>
<message name="getSeatForBooking">
<part name="parameters" element="tns:getSeatForBooking"/>
</message>
<message name="getSeatForBookingResponse">
<part name="parameters" element="tns:getSeatForBookingResponse"/>
</message>
<message name="getFlightBooking">
<part name="parameters" element="tns:getFlightBooking"/>
</message>
<message name="getFlightBookingResponse">
<part name="parameters" element="tns:getFlightBookingResponse"/>
</message>
<message name="getFlightBookingsForReservation">
<part name="parameters" element="tns:getFlightBookingsForReservation"/>
</message>
<message name="getFlightBookingsForReservationResponse">
<part name="parameters" element="tns:getFlightBookingsForReservationResponse"/>
</message>
<message name="retrieveFlightRoute">
<part name="parameters" element="tns:retrieveFlightRoute"/>
</message>
<message name="retrieveFlightRouteResponse">
<part name="parameters" element="tns:retrieveFlightRouteResponse"/>
</message>
<message name="partnerSearchConnectingFlightLeg1">
<part name="parameters" element="tns:partnerSearchConnectingFlightLeg1"/>
</message>
<message name="partnerSearchConnectingFlightLeg1Response">
<part name="parameters" element="tns:partnerSearchConnectingFlightLeg1Response"/>
</message>
<message name="retrieveFaresForFlightSchedule">
<part name="parameters" element="tns:retrieveFaresForFlightSchedule"/>
</message>
<message name="retrieveFaresForFlightScheduleResponse">
<part name="parameters" element="tns:retrieveFaresForFlightScheduleResponse"/>
</message>
<portType name="FlightReservationSystemWebService">
<operation name="makeFlightReservation">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/makeFlightReservationRequest" message="tns:makeFlightReservation"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/makeFlightReservationResponse" message="tns:makeFlightReservationResponse"/>
</operation>
<operation name="getFlightCabinClass">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getFlightCabinClassRequest" message="tns:getFlightCabinClass"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getFlightCabinClassResponse" message="tns:getFlightCabinClassResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
</operation>
<operation name="partnerLogout">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerLogoutRequest" message="tns:partnerLogout"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerLogoutResponse" message="tns:partnerLogoutResponse"/>
</operation>
<operation name="retrieveCabinClass">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveCabinClassRequest" message="tns:retrieveCabinClass"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveCabinClassResponse" message="tns:retrieveCabinClassResponse"/>
</operation>
<operation name="retrieveSeats">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveSeatsRequest" message="tns:retrieveSeats"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveSeatsResponse" message="tns:retrieveSeatsResponse"/>
</operation>
<operation name="makeFlightBooking">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/makeFlightBookingRequest" message="tns:makeFlightBooking"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/makeFlightBookingResponse" message="tns:makeFlightBookingResponse"/>
</operation>
<operation name="persistPassengers">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/persistPassengersRequest" message="tns:persistPassengers"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/persistPassengersResponse" message="tns:persistPassengersResponse"/>
</operation>
<operation name="viewFlightResevations">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/viewFlightResevationsRequest" message="tns:viewFlightResevations"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/viewFlightResevationsResponse" message="tns:viewFlightResevationsResponse"/>
</operation>
<operation name="retrieveFlights">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveFlightsRequest" message="tns:retrieveFlights"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveFlightsResponse" message="tns:retrieveFlightsResponse"/>
</operation>
<operation name="partnerSearchFlight">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerSearchFlightRequest" message="tns:partnerSearchFlight"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerSearchFlightResponse" message="tns:partnerSearchFlightResponse"/>
</operation>
<operation name="getSeatForBooking">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getSeatForBookingRequest" message="tns:getSeatForBooking"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getSeatForBookingResponse" message="tns:getSeatForBookingResponse"/>
</operation>
<operation name="getFlightBooking">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getFlightBookingRequest" message="tns:getFlightBooking"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getFlightBookingResponse" message="tns:getFlightBookingResponse"/>
</operation>
<operation name="getFlightBookingsForReservation">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getFlightBookingsForReservationRequest" message="tns:getFlightBookingsForReservation"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/getFlightBookingsForReservationResponse" message="tns:getFlightBookingsForReservationResponse"/>
</operation>
<operation name="retrieveFlightRoute">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveFlightRouteRequest" message="tns:retrieveFlightRoute"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveFlightRouteResponse" message="tns:retrieveFlightRouteResponse"/>
</operation>
<operation name="partnerSearchConnectingFlightLeg1">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerSearchConnectingFlightLeg1Request" message="tns:partnerSearchConnectingFlightLeg1"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/partnerSearchConnectingFlightLeg1Response" message="tns:partnerSearchConnectingFlightLeg1Response"/>
</operation>
<operation name="retrieveFaresForFlightSchedule">
<input wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveFaresForFlightScheduleRequest" message="tns:retrieveFaresForFlightSchedule"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationSystemWebService/retrieveFaresForFlightScheduleResponse" message="tns:retrieveFaresForFlightScheduleResponse"/>
</operation>
</portType>
<binding name="FlightReservationSystemWebServicePortBinding" type="tns:FlightReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="makeFlightReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightCabinClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCabinClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveSeats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeFlightBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="persistPassengers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewFlightResevations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerSearchFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeatForBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightBookingsForReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerSearchConnectingFlightLeg1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFaresForFlightSchedule">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlightReservationSystemWebService">
<port name="FlightReservationSystemWebServicePort" binding="tns:FlightReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/FlightReservationSystemWebService/FlightReservationSystemWebService"/>
</port>
</service>
</definitions>